<div class="site-nav col-lg-3 col-md-4">
	<header>
		<img src="//gravatar.com/avatar/70abe3febde913869a548db49cc536d8?s=200" class="img-circle" />
		<a href="/">
			<h1>Mike Lowen</h1>
		</a>
	</header>

	<nav class="social">
		<ul class="center-block">
			<li><a href="/feed"><img src="/images/rss.png" alt="feed" /></a></li>
			<li><a href="https://twitter.com/mike_lowen"><img src="/images/twitter.png" alt="Twitter" /></a></li>
			<li><a href="https://www.facebook.com/michael.lowen.12"><img src="/images/facebook.png" alt="Facebook" /></a></li>
			<li><a href="https://github.com/mlowen"><img src="/images/github.png" alt="Github" /></a></li>
			<li><a href="http://stackoverflow.com/users/63998/mike-lowen"><img src="/images/stackoverflow.png" alt="StackOverflow" /></a></li>
			<li><a href="http://nz.linkedin.com/in/mikelowen"><img src="/images/linkedin.png" alt="LinkedIn" /></a></li>
			<li><a href="https://plus.google.com/106305888085103690827/about"><img src="/images/googleplus.png" alt="Google Plus" /></a></li>
		</ul>
	</nav>

	<nav class="site hidden-sm hidden-xs">
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</div>
