<div class="site-nav">
	<header>
		<img src="//gravatar.com/avatar/70abe3febde913869a548db49cc536d8?s=200" />
		<a href="/">
			<h1>Mike Lowen</h1>
		</a>
	</header>

	<nav class="social">
		<ul>
			<li><a href="/feed"><img src="/images/rss.png" alt="feed" /></a></li>
			<li><a href="https://twitter.com/mike_lowen"><img src="/images/twitter.png" alt="Twitter" /></a></li>
			<li><a href="https://www.facebook.com/michael.lowen.12"><img src="/images/facebook.png" alt="Facebook" /></a></li>
			<li><a href="https://github.com/mlowen"><img src="/images/github.png" alt="Github" /></a></li>
			<li><a href="http://stackoverflow.com/users/63998/mike-lowen"><img src="/images/stackoverflow.png" alt="StackOverflow" /></a></li>
			<li><a href="http://nz.linkedin.com/in/mikelowen"><img src="/images/linkedin.png" alt="LinkedIn" /></a></li>
		</ul>
	</nav>

	<nav class="mobile-nav-container">
		<div class="site">
			<button type="button" class="toggler">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</button>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/articles">Archive</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</div>
	</nav>
</div>
