a:hover {
	-webkit-transition: color $transition-duration;
	-moz-transition: color $transition-duration;
	-o-transition: color $transition-duration;
	transition: color $transition-duration;

	text-decoration: none;
	color: $hover-colour;
}
