.content {
	margin-left: 25%;
	width: 50%;
	padding: 20px 15px;

	article {
		header {
			a:hover { text-decoration: none; }

			h1 { font-size: 40px; }

			.meta {
				float: right;
				text-align: right;

				time { color: $light-text-colour; }
			}
		}

		h1 { font-size: 30px; }
		h2 { font-size: 26px; }
		h3 { font-size: 20px; }
	}

	hr { border-color: #f5f5f5; }

	> .recent {
		h2 { margin-top: 0; }

		ul { margin-bottom: 30px; }

		footer {
			font-size: $minor-font-size;
			text-align: right;

			a { margin-right: 10px; }
		}
	}

	> footer:last-child {
		color: $light-text-colour;

		font-size: $minor-font-size;
		font-style: italic;
		text-align: center;

		margin: 20px 0;
	}

	.archive {
		ul {
			list-style-type: none;
		}
	}
}

@media (min-width: $collapse-point) {
	.row > .content > .recent {
		display: flex;

		footer {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
