<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>
		<div class="container-fluid">
			<div class="row">
				{% include header.html %}

				<div class="content col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4">
					{{ content }}

					{% include footer.html %}
				</div>
			</div>
		</div>
		<script>
			(function() {
				document.getElementsByClassName('toggler')[0].addEventListener('click', function(e) {
					e.preventDefault();
					document.getElementsByClassName('site')[0].classList.toggle('active');
				});
			})();
		</script>
	</body>

</html>
