.content {
	padding: 20px 15px;

	article {
		header {
			a:hover { text-decoration: none; }

			h1 { font-size: 40px; }

			.meta {
				font-size: 0.8em;

				time { color: $light-text-colour; }
				> .comments { float: right; }
			}
		}

		img {
			border: 1px solid #555;
			margin-right: auto;
			margin-left: auto;
			display: block;
			box-shadow: 3px 3px 20px 1px #bbb;
		}

		h1 { font-size: 30px; }
		h2 { font-size: 26px; }
		h3 { font-size: 20px; }

		.article-content { text-align: justify; }
	}

	> .recent {
		h2 { margin-top: 0; }

		ul { margin-bottom: 30px; }
	}

	> footer:last-child {
		color: $light-text-colour;

		font-size: $minor-font-size;
		font-style: italic;
		text-align: center;

		margin: 20px 0 10px;
	}

	.archive {
		ul {
			list-style-type: none;
		}
	}
}
